<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add a new User</title>
  </head>
  <body>
    <h1>add new</h1>
    <form method="post" action="/user">
      <label for="id">Enter ID: </label>
      <input type="text" id="id" name="id" />
      <label for="username">Enter Username: </label>
      <input type="text" id="username" name="username" />
      <label for="email">Enter Email: </label>
      <input type="text" id="email" name="email" />
      <label for="password">Enter password: </label>
      <input type="password" id="password" name="password" />
      <button>Submit</button>
    </form>
  </body>
</html>
